<div class="row">
  <div class="col-sm-12 my-4">
    <h1>Tickets</h1>

    <!-- {{ tickets$ | async }} -->

    <kendo-grid [kendoGridBinding]="tickets" [pageSize]="10" [selectable]="{mode:single}" [pageable]="true" [height]="600" [filterable]="true">
      <kendo-grid-column field="_id" title="ID" width="40" media="(min-width: 450px)">
      </kendo-grid-column>
      <kendo-grid-column field="title" title="TYPE" width="40" media="(min-width: 450px)">
      </kendo-grid-column>
      <kendo-grid-column field="body" title="BODY" width="40" media="(min-width: 450px)">
      </kendo-grid-column>
      <kendo-grid-column field="status" title="STATUS" width="40" media="(min-width: 450px)">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span [className]="dataItem.status==='New' ? 'text-success' : dataItem.status=== 'Closed' ? 'text-warning':'text-danger'">
            {{ dataItem.status }}</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="ACTIONS" width="40">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-dropdownbutton [data]="['New', 'Closed', 'Working']" [icon]="'list-unordered'" (itemClick)="setStatus(dataItem, $event)">
            Set Status
          </kendo-dropdownbutton>

        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-column media="(max-width: 450px)" title="Work Orders">
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- template for mobile -->
          <dl>
            <dt class="font-weight-bold">TICKET ID</dt>
            <dd>{{ dataItem._id }}</dd>
            <dt class="font-weight-bold">TYPE</dt>
            <dd>{{ dataItem.title }}</dd>
            <dt>STATUS</dt>
            <dd [className]="dataItem.status==='New' ? 'text-success' : dataItem.status=== 'Closed' ? 'text-warning':'text-danger'">
              {{ dataItem.status }}</dd>
          </dl>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>