<div class="row">
  <div class="col-sm-8 my-4">
    <h1>Tickets</h1>

    <!-- {{ tickets$ | async }} -->

    <kendo-grid [kendoGridBinding]="tickets" [pageSize]="10" [selectable]="{mode:single}" [pageable]="true" [height]="600"
      [filterable]="true">
      <kendo-grid-column field="CaseNumber" title="ID" width="40" media="(min-width: 450px)">
      </kendo-grid-column>
      <kendo-grid-column field="Subject" title="SUBJECT" width="40" media="(min-width: 450px)">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="DESCRIPTION" width="40" media="(min-width: 450px)">
      </kendo-grid-column>
      <kendo-grid-column field="Status" title="STATUS" width="40" media="(min-width: 450px)">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span [className]="dataItem.Status==='New' ? 'text-success' : dataItem.Status=== 'Closed' ? 'text-warning':'text-danger'">
            {{ dataItem.Status }}</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="ACTIONS" width="40" media="(min-width: 450px)">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-dropdownbutton [data]="['New', 'Closed', 'Working']" [icon]="'list-unordered'" (itemClick)="setStatus(dataItem, $event)">
            Set Status
          </kendo-dropdownbutton>

        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-column media="(max-width: 450px)" title="Work Orders">
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- template for mobile -->
          <dl>
            <dt class="font-weight-bold">TICKET ID</dt>
            <dd>{{ dataItem._id }}</dd>
            <dt class="font-weight-bold">SUBJECT</dt>
            <dd>{{ dataItem.Subject }}</dd>
            <dt>STATUS</dt>
            <dd [className]="dataItem.Status==='New' ? 'text-success' : dataItem.status=== 'Closed' ? 'text-warning':'text-danger'">
              {{ dataItem.Status }}</dd>
          </dl>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="col-sm-4 my-4">
    <h1>Stats</h1>
    <kendo-chart [seriesColors]="['#D63100', '#00880A','#DDAA00']">
      <kendo-chart-legend position="top"></kendo-chart-legend>
      <kendo-chart-series>
        <kendo-chart-series-item type="pie" [data]="pieData | async" field="value" categoryField="category">
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </div>
</div>