.page {
  background-color: white;
}
.action-bar {
  opactity: 0.5;
}
.action-bar label {
  padding-left: 10;
  font-size: 16;
  color: white;
  vertical-align: middle;
}
.action-bar Button {
  color:white;
  margin-right: 10;
  background-color: transparent;
  text-align: right;
  vertical-align: middle;
  border-width: 1;
  border-color: transparent;
  padding: 0;
}

.image-container {
  
}
.image-container Image {
  border-width: 0;
  vertical-align: top;
}

.container {
  padding: 25;
}
.order-id {
  font-size: 14;
}
.order-location {
  font-size: 26;
}
.order-status {
  text-transform: uppercase;
  font-size: 14;
  padding-left: 5;
}

.hr-light {
  margin: 15 0;
}

