<GridLayout columns="*, *, *" dock="bottom" class="nav-bar">
    <StackLayout col="0" [nsRouterLink]="['/chat']" pageTransition="none" clearHistory="true" [class.active]="index == 0">
        <Label class="ion" text="&#xf11c;"></Label>
        <Label class="label" text="CHAT"></Label>
    </StackLayout>

    <StackLayout col="1" [nsRouterLink]="['/tickets']" pageTransition="none" clearHistory="true" [class.active]="index == 1">
        <Label class="ion" text="&#xf453;"></Label>
        <Label class="label" text="CLAIMS"></Label>
    </StackLayout>

    <StackLayout col="2" [nsRouterLink]="['/equipment']" pageTransition="none" clearHistory="true" [class.active]="index == 2">
        <Label class="ion" text="&#xf3f5;"></Label>
        <Label class="label" text="ESTIMATE"></Label>
    </StackLayout>
</GridLayout>
