/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

@font-face {
  font-family: "Nunito-Regular";
  src: url("/assets/Nunito-Regular.ttf");
}
html {
  height: 100%;
}
body {
  font-family: Nunito-Regular;
  height: 100%;
}
.popup {
  opacity: 0.9;
}

.darvin-open-icon,
.darvin-close-icon {
  background: #ff6358 !important;
  border-radius: 30px;
}

.darvin-open-icon::before,
.darvin-close-icon::before {
  font-family: Ionicons;
  position: relative;
  top: 0.13em;
  right: -0.55em;
  content: "\f3f9";
  font-size: 30px;
  color: white;
}

.darvin-open-icon::after,
.darvin-close-icon::after {
  content: "CHAT";
  color: white;
  font-size: 10px;
  right: 0.66em;
  position: relative;
  top: 18px;
}

.alerts {
  width: 260px;
}
.circle {
  background-color: #ff6358;
  height: 42px;
  width: 42px;
  border-radius: 42px;
  float: left;
}
.alert-icon {
  font-size: 28px;
  color: white;
  top: 2px;
  margin-left: 8px;
  position: relative;
}

.alert-text {
  color: black;
  font-weight: bold;
}

.k-grid-content .k-button {
  margin: 0;
}

.my-form {
  color: white;
  height: 100%;
  background: linear-gradient(141deg, #4b4e56 0%, #656a75 51%, #494e58 75%);
}
.form-signin {
  height: 100%;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 6em auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  border-color: #ff6358;
  box-shadow: none;
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.my-button {
  background-color: #ff6358 !important;
  border-radius: 26px;
  color: white;
}
.mic {
  cursor: pointer;
  color: white;
}
